
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact parcouri</title>
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  </head> 
  <body>
    <!-- Nouveau Navbar -->
    <div class="container-fluid">
      <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
          <div class="d-flex align-items-start">
            <img
              href="index.html"
              class="logo-img"
              src="img/img1.png"
              alt=""
              style="width: 50px; margin-left: 0;"
            />
            <h1
              class="logo-text"
              style="position: relative; top: 38px; margin-left: -15px; text-transform: lowercase;"
            >
              arcouri
            </h1>
          </div>
        </div>
        <div class="col-lg-9">
          <nav
            class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0"
          >
            <div
              class="collapse navbar-collapse justify-content-between"
              id="navbarCollapse"
            >
              <div class="navbar-nav py-0">
                <a
                  href="index.html"
                  class="nav-item nav-link"
                  style="margin-left: 5px;"
                  >Accueil</a
                >
                <div
                  class="nav-item dropdown"
                  style="margin-left: 5px;"
                >
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    >Internationale</a
                  >
                  <div class="dropdown-menu rounded-0 m-0">
                    <a href="blog.html" class="dropdown-item">Bourses d'Études</a>
                    <a href="single.html" class="dropdown-item"
                      >Programmes d'Échange</a
                    >
                  </div>
                </div>
                <div
                  class="nav-item dropdown"
                  style="margin-left: 5px;"
                >
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    >Activités</a
                  >
                  <div class="dropdown-menu rounded-0 m-0">
                    <a href="blog.html" class="dropdown-item"
                      >Clubs/Associations</a
                    >
                    <a href="single.html" class="dropdown-item">Formations</a>
                  </div>
                </div>
                <a
                  href="course.html"
                  class="nav-item nav-link"
                  style="margin-left: 5px;"
                  >Quiz</a
                >
                <a
                  href="teacher.html"
                  class="nav-item nav-link"
                  style="margin-left: 5px;"
                  >Témoignages</a
                >
                <a
                  href="contact.html"
                  class="nav-item nav-link"
                  style="margin-left: 5px;"
                  >Contact</a
                >
              </div>
              <div class="nav-buttons d-flex align-items-center">
                <a class="btn btn-primary custom-btn" href="signup.html">Sign In</a>
                <a
                  class="btn btn-primary custom-btn"
                  href="login.html"
                  style="margin-left: 5px;"
                  >Login</a
                >
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <!-- Contact Section -->
    <section class="contact-section">
      <!-- Nouvelle image avec effet au survol -->
      <div class="contact-image">
        <img src="img/contact.jpeg" alt="Contactez-nous" />
        <div class="contact-info">
          <h2>C'est quoi Parcouri ?</h2>
          <p>
            Notre site Parcouri est une plateforme dédiée aux étudiants tunisiens, 
            visant à simplifier l'accès aux opportunités académiques et professionnelles. 
            Il regroupe des informations sur les bourses, les clubs étudiants, et les formations,
            le tout organisé pour une recherche rapide et personnalisée.
          </p>
        </div>
      </div>

      <!-- Boîtes de contact -->
      <div class="contact-boxes">
        <div class="contact-box">
          <div class="contact-item">
            <img src="img/prox.png" alt="Adresse" class="contact-icon" />
            <p>Adresse: Esprit, Ghazella</p>
          </div>
        </div>
        <div class="contact-box">
          <div class="contact-item">
            <img src="img/tel.png" alt="Appeler nous" class="contact-icon" />
            <p>Appeler nous: +216 25252525</p>
          </div>
        </div>
        <div class="contact-box">
          <div class="contact-item">
            <img src="img/mail.png" alt="Email" class="contact-icon" />
            <p>Email: parcouri@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="address-image">
        <img src="img/ad.png" alt="Adresse" />
        <button class="maps-button">Maps</button>
      </div>
    </section>

    <!-- Suggestion Section -->
    <section class="suggestion-section">
      <div class="suggestion-box">
        <div class="row">
          <!-- Texte à gauche -->
          <div class="col-md-6 text-box">
            <h2>Si vous avez une réclamation ou suggestion, n'hésitez pas à nous aider !</h2>
            <p>
              Vos retours sont essentiels pour nous aider à mieux comprendre vos attentes, afin que nous puissions mettre en place des solutions 
              qui répondent parfaitement à vos besoins. Que ce soit pour des améliorations sur le site, des fonctionnalités supplémentaires ou 
              des ajustements de nos services.Merci de faire partie de cette aventure avec nous et de nous aider à faire évoluer nos services pour 
              mieux vous servir.
            </p>
          </div>

          <!-- Formulaire à droite -->
          <div class="col-md-6 form-box">
            <form method="POST" action="/projetweb/view/backoffice/addsuggestion.php" id="suggestionForm">
              <input type="text" id="user_id" name="id_utilisateur" class="input-field" placeholder="Votre ID" />
              <select id="subject" name="type_feedback" class="input-field">
                  <option value="" disabled selected>Choisir un sujet</option>
                  <option value="reclamation">Réclamation</option>
                  <option value="suggestion">Suggestion</option>
              </select>
              <textarea id="message" name="contenu" class="input-field message-field" placeholder="Votre message"></textarea>
              <button type="submit" class="main-button">Envoyer</button>
            </form>
          
         </div>
          
        </div>
      </div>
    </section>
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/contact.js" ></script>
    

     
  </body>
</html>
